body{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#button{
    width:20em;
    margin: 5% auto;
}

#demo{
    margin: 0 auto;
}

#myButton1{
    width: 20%;
    margin: 2% auto;
}

#myButton2{
    width: 20%;
    margin: 2% auto;
}